extends layout

block content
  h1 MIT SEIR
  h2 Student Entrepreneurs In Residence

  p 
    | The SEIR group is the Wednesday night meetup for the most active student entrepreneurs at MIT. 
  p 
    | This website will host SEIRS' members projects, and show events for anyone to become involved with.


  h2 Events
  ol
    li 
      a(href="http://mite.eventbrite.com") CPW Entreprenuership Meetup -- April 20, 2012!
    li
      a(href="http://apocalypsehack.eventbrite.com/") Post-PC Apocolypse Hackathon -- April 15th, 2012!  
  p
    img(src="img/seirgroup.jpg")
    
