!!!5
html(lang="en-us", charset="utf-8")
  head
    title MIT SEIR - Student Entreprenuers In Residence 
    link(rel="stylesheet", href="/style.css", type="text/css")

  body

    block content

    footer
      
      p     SEIR is a group of the 
            a(href="http://entrepreneurship.mit.edu/") MIT Entrpreneurship Center
            .
